Checks: "-*,
  google-*,
  -google-readability-todo,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  concurrency-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  misc-*,
  performance-*,
  readability-*,
  "

# WarningsAsErrors: "*,-readability-convert-member-functions-to-static"
HeaderFilterRegex: ""
FormatStyle: google
